<html lang="en-us" ng-app="myApp">
    <head>
        <title>Memory Refresher of my AngularJS skills</title>

        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- bootstrap -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <!--<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>-->
        <!-- angular -->
        <script src="bower_components/angular/angular.min.js"></script>
        <!-- project -->
        <link href="css/index.css" rel="stylesheet"/>
        <script src="app.js"></script>
        <script src="js/dist/Variable.js"></script>
        <script src="js/dist/Method.js"></script>
        <script src="js/dist/ConstructES6Class.js"></script>
    </head>
    <body>
        <div ng-controller="mainController">
            <!--<p>-->
                <!--Hello, World! {{ bob = 2 + 4 | currency }}-->
            <!--</p>-->
            <!--<p>No filter {{ bob }}</p>-->
            <!--<p>filter {{ bob | omar }}</p>-->
            <!--<p ng-repeat="car in cars">{{ car.year }} {{ car.make }} {{ car.model }}<p>-->

            <div id="formContainer">
                <form>
                    <div class="form-group">
                        <label for="className" style="width:50px;">Class:</label>
                        <input ng-model="className" type="text" style="display:inline; width:25%;" class="form-control" id="className" placeholder="Enter class name">
                        <select class="form-control" style="display:inline; width:25%">
                            <option ng-repeat="option in PARENT_OPTIONS" value="{{option}}">{{option}}</option>
                        </select>
                        <input type="text" style="display:inline; width:25%;" class="form-control" id="parentClassName" placeholder="Enter parent class name">

                    </div>
                    <div class="form-group">
                        <label for="variableName">Variable:</label>
                        <input ng-model="varName" type="text" style="display:inline; width:25%;" class="form-control" id="variableName" placeholder="Enter variable name">
                        <div ng-repeat="accessModifier in ACCESS_MODIFIERS" class="radio-inline">
                            <label>
                                <input ng-model="$parent.varAccessModifier" type="radio" data-ng-value="accessModifier" ng-init="accessModifier==$parent.DEFAULT_ACCESS_MODIFIER ? ($parent.varAccessModifier=accessModifier) : ''" name="variableAccessModifiers"> {{accessModifier}}
                            </label>
                        </div>

                        <button ng-click="addVariable()" class="btn btn-info">Add</button>

                        <div id="varList">
                            <button ng-repeat="variable in variables" ng-click="removeVariable(variable)" class="btn btn-default">{{variable.accessModifier}} - {{variable.name}}</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="methodName">Method:</label>
                        <input ng-model="methodName" type="text" style="display:inline; width:25%;" class="form-control" id="methodName" placeholder="Enter method name">
                        <div ng-repeat="accessModifier in ACCESS_MODIFIERS" class="radio-inline">
                            <label>
                                <input ng-model="$parent.methodAccessModifier" type="radio" data-ng-value="accessModifier" ng-init="accessModifier==$parent.DEFAULT_ACCESS_MODIFIER ? ($parent.methodAccessModifier=accessModifier) : ''" name="methodAccessModifiers"> {{accessModifier}}
                            </label>
                        </div>
                        <button ng-click="addMethod()" class="btn btn-info">Add</button>

                        <div id="methodList">
                            <button ng-repeat="method in methods" ng-click="removeMethod(method)" class="btn btn-default">{{method.accessModifier}} - {{method.name}}</button>
                        </div>
                    </div>

                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    <button ng-click="constructES6Class()" class="btn btn-default">Submit</button>

                </form>
            </div>

            <div id="resultContainer">
                <textarea></textarea>
            </div>

            <div>$scope.variables = {{variables}}</div>

        </div>

    </body>
</html>
